NEXT_PUBLIC_SUPABASE_URL=https://projeto-exemplo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_exemplo
# Compatibilidade temporária: NEXT_PUBLIC_SUPABASE_ANON_KEY=anon_key_ficticia
# Compatibilidade com integrações: NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_exemplo
SUPABASE_SECRET_KEY=sb_secret_exemplo
NEXT_PUBLIC_APP_ENV=development
